<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Orders</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-500 flex flex-col justify-start items-center">
    <div class="w-[50rem] h-auto bg-white mt-2 mb-4 px-3 py-4">
        <h1 class="font-bold text-xl text-gray-800 ">Orders List</h1>
        <hr class="border-gray-400 mt-2">
        <div class="flex justify-end items-center mt-2 mb-2">
            <button class="w-32 h-8 flex justify-center items-center text-sm border border-gray-400 bg-green-500 font-bold text-white mx-4">Manage Products</button>
            <button class="w-32 h-8 flex justify-center items-center text-sm border border-gray-400 bg-green-500 font-bold text-white">Add New Order</button>
        </div>
        <table class="w-full border table-fixed mt-4">

              <thead>
                <th class="border border-gray-200 text-sm">Date</th>
                <th class="border border-gray-200 min-w-24 text-sm">Order Number</th>
                <th class="border border-gray-200 text-sm">Customer Name</th> 
                <th class="border border-gray-200 text-sm">Total Cost</th>
              </thead>

              <tbody id="tableBody">
               
              </tbody>
        </table>
    </div>
    <script src="../static/js/list.js" defer></script>
</body>
</html> 