<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../static/script.js" defer></script>
  
</head>

<body class="bg-gray-40 grid ">

  <div class="grid grid-cols-4">

    <div class="col-span-1 "></div>

    <div class="col-span-2 relative bg-white max-w-4xl mx-auto p-4 mt-20 
                border-2 border-gray-100 shadow-lg"> 


          <h1 class="text-xl text-gray-600 mb-2 ">Manage Products</h1>
          <hr class="my-4 border-gray-300 ">

          <div class="flex justify-end grid grid-cols-2 grid-rows-1">
            <!-- to make the button right-aligned -->
            <div ></div>
            <div class="flex justify-end">
              <button id="Add_Product" class="row-span-1 col-span-1 w-[9rem] h-8
                                    border border-gray-500 flex 
                                    justify-center items-center shadow-lg
                                    font-sans bg-blue-600 text-white  ">Add New Product</button>
            </div>
          </div>
        <!-- the "table-fixed" makes sure that rows have fixed width -->
            <table class="w-full border table-fixed mt-4">

              <thead>
                <th class="border border-gray-200">Name</th>
                <th class="border border-gray-200 min-w-24">Unit</th>
                <th class="border border-gray-200 ">Price per Unit</th> 
                <th class="border border-gray-200">Action</th>
              </thead>

              <tbody id="tableBody">
                <tr>
                  <!-- contenteditable makes the cells editable -->
                  <td class="border p-2 " contenteditable="true">New Product</td>
                  <td class="border p-2" contenteditable="true">0</td>
                  <td class="border p-2" contenteditable="true">0</td>
                  <td class="border p-2 flex justify-center items-center">
                    <button class="bg-red-500 text-white px-4 py-1 rounded delete-btn">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
    </div>
    
<!-- col-span is not given...but still will get 3rd column -->
    <div class="fixed top-56 right-32 flex flex-col gap-20">
    
    <button id="Submit-Button" class="right-5 w-[9rem] min-h-8
                                    border border-gray-500 flex 
                                    justify-center items-center shadow-lg
                                    font-sans bg-blue-600 text-white">Submit Products</button>

    </div>
    
    </div>

</body>
</html>
